<template>
  <q-page class="script-layout column">
    <ScriptBuilderComponent/>
  </q-page>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import ScriptBuilderComponent from 'components/ScriptBuilderComponent.vue';

export default defineComponent({
  name: 'IndexPage',
  components: {ScriptBuilderComponent},
});
</script>

<style scoped>
.script-layout {
  margin: 1rem 10rem;
}
</style>
