<template>
  <div class="row justify-between script-create-header">

    <div class="col-4">
      <ScriptCreatePlatformChooser/>
    </div>

    <div class="col-4">
      <ScriptCreateButtons/>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import ScriptCreateButtons from 'components/ScriptCreateButtons.vue';
import ScriptCreatePlatformChooser from 'components/ScriptCreatePlatformChooser.vue';

export default defineComponent({
  name: 'ScriptCreateHeader',
  components: {ScriptCreatePlatformChooser, ScriptCreateButtons},
  methods: {
  },
})
</script>

<style scoped>
.script-create-header{
  margin: 1em 0 2em 0;
}
</style>
