<template>
  <ScriptCreateHeader/>

  <SqlInputList/>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ScriptCreateHeader from 'components/ScriptCreateHeader.vue';
import SqlInputList from 'components/SqlInputList.vue';

export default defineComponent({
  name: 'ScriptBuilderComponent',

  components: {
    SqlInputList,
    ScriptCreateHeader
  },

  created() {
    console.log('creating initial sql field')
    this.$store.commit('script/addSqlStatement', {})
  }
})
</script>
