<template>
  <div class="column">

    <div class="col">
      <q-btn
        icon="download"
        class="create-button"
        color="deep-orange"
        label="Oracle"
        align="left"
        @click="createScriptOracle"
      />
    </div>

    <div class="col">
      <q-btn
        icon="download"
        class="create-button"
        color="primary"
        label="MySQL"
        align="left"
        @click="createScriptMySQL"
      />
    </div>

  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import {DB} from 'components/models';
import {createZip} from 'src/zip';

export default defineComponent({
  name: 'ScriptCreateButtons',

  methods: {
    createScript(db: DB) {
      this.$store.commit('script/updateDBSelection', db)
      createZip(this.$store.state.script)
    },

    createScriptMySQL() {
      this.createScript(DB.MYSQL)
    },

    createScriptOracle() {
      this.createScript(DB.ORACLE)
    }
  },
})
</script>

<style scoped>
.create-button {
  width: 10em;
  margin-bottom: .5em;
  float: right;
}
</style>
