<template>
    <q-select
      class="platform-choice"
      :model-value="selection"
      :options="choices"
      label="Platform"
      @update:model-value="savePlatform"/>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import {platforms, PLATFORM} from 'components/models';

export default defineComponent({
  name: 'ScriptCreatePlatformChooser',

  data() {
    return {
      choices: platforms,
    }
  },

  computed: {
    selection(): PLATFORM {
      // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
      return <PLATFORM>this.$store.getters['script/getPlatform']
    }
  },

  methods: {
    savePlatform(platform: PLATFORM) {
      this.$store.commit('script/updatePlatformSelection', platform)
    },
  },
})
</script>

<style scoped>
.platform-choice {
  width: 15em;
}
</style>
