<template>
  <SqlInputListEntry
    v-for="sql in $store.state.script.sqlStatements"
    :key="sql.id"
    :sql-statement="sql"
    class="list-entry"
  />

  <q-btn
    class="add-script-button"
    color="primary"
    icon="add"
    label="Add Script"
    @click="addStatement"/>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import SqlInputListEntry from 'components/SqlInputListEntry.vue';

export default defineComponent({
  name: 'SqlInputList',
  components: {SqlInputListEntry},
  data() {
    return {}
  },

  methods: {
    addStatement() {
      this.$store.commit('script/addSqlStatement', {})
    }
  },
})
</script>

<style scoped>
.list-entry {
  margin-bottom: 1rem;
}

.add-script-button {
  width: fit-content;
  align-self: center;
}
</style>
