<template>
  <q-card bordered class="my-card">
    <q-card-section>
      <div class="text-h6">
        <div class="row items-baseline">
          <span>{{ sqlStatement.id }}. &nbsp;</span>

          <span class="filename">Rückgabe in Datei:</span>
          <q-input
            dense
            :model-value="sqlStatement.outputFileName"
            @update:model-value="updateFilename"/>

          <q-space/>
          <q-btn
            round color="red"
            icon="close"
            @click="removeSqlStatement"
            size=".6rem"
          />
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <q-input
        type="textarea"
        filled
        input-class="sql"
        @blur="highlightSQL"
        :model-value="sqlStatement.sql"
        @update:model-value="updateSql"/>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
// import hljs from 'highlight.js/lib/core';
import { defineComponent, PropType } from 'vue'
import {SqlStatement, UpdateFileName, UpdateSqlText} from 'src/store/module-script/SupScriptModel';

export default defineComponent({
  name: 'SqlInputListEntry',

  props: {
    sqlStatement: {
      required: true,
      type: Object as PropType<SqlStatement>,
    }
  },

  data() {
    return {
    }
  },

  mounted() {
    this.highlightSQL()
  },

  methods: {
    removeSqlStatement() {
      this.$store.commit('script/removeStatement', this.sqlStatement.id)
    },


    updateFilename(fileName: string | undefined) {
      this.$store.commit('script/updateFileName', {
        id: this.sqlStatement.id,
        fileName
      } as UpdateFileName)
    },
    updateSql(sql: string | undefined) {
      this.$store.commit('script/updateSqlText', {
        id: this.sqlStatement.id,
        sql
      } as UpdateSqlText)
    },

    highlightSQL() {
      console.warn('Not applying sql highlighting')
      // let sqlInput = this.$el.querySelector(".sql");
      // console.log("Highlighting sql on: ", sqlInput)
      // hljs.highlightElement(sqlInput)
    }
  },
})
</script>

<style scoped>
.filename {
  margin-right: 1rem;
  font-size: .7em;
  color: #444
}
</style>
