<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-icon name="source" size="1.5rem"/>

        <q-toolbar-title>
          Support Script Builder
        </q-toolbar-title>

        <div>v {{ getAppVersion() }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  methods: {
    getAppVersion() {
      return process.env.APP_VERSION
    }
  }
})
</script>
